PROJECT_NAME="StaSIUN"
DATABASE_URL=postgresql+psycopg://stasiun:stasiun@localhost:5432/stasiun
MAPID_GEOSERVER_URL=https://geoserver.mapid.io
MAPID_API_KEY=your_api_key_here
MAPID_PROJECT_ID=your_project_id_here
MAPID_BASEMAP_KEY=
OCR_SPACE_API=
OCR_SPACE_URL=https://api.ocr.space/parse/image
GEMINI_API_KEY=