PROJECT_NAME="StaSIUN"
DATABASE_URL=postgresql+psycopg://stasiun:stasiun@localhost:5432/stasiun
MAPID_GEOSERVER_URL=https://geoserver.mapid.io
MAPID_API_KEY=your_api_key_here
MAPID_PROJECT_ID=your_project_id_here